:root {
  --color-main: #016064;
  --color-primary-variant: #153436;
  --color-secondary: #ff7b02;
  --color-secondary-variant: #e5a55d;
  --color-tertiary-variant: #7b4e19;
  --color-bg-1: #000e17;
  --color-bg-2: #001e2d;
  --color-bg-3: #012734;
  --color-bg-4: #003347;
  --color-light: #85a2b2;
  --color-white: hsl(0, 0%, 90%);
  --color-bg-5: #32393b;

  --container-width-lg: 88%;
  --container-width-md: 92%;

  --transition: all 400ms ease;
}

.about-header h1 {
  /* background-color: var(--color-main); */
  color: var(--color-secondary-variant);
  text-align: center;
  margin-top: 10rem;
  height: fit-content;
  position: relative;
  width: 100%;
  font-weight: bolder;
  margin-bottom: -4rem;
}

.about1,
.about3,
.about4,
.about6 {
  background-color: var(--color-main);
  color: var(--color-white);
  font-size: 24px;
  text-align: center;
  /* height: 878px; */
}

.about1-detail,
.about3-detail,
.about4-detail,
.about6-detail {
  padding-top: 4rem;
  height: 500px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.about1 p,
.about3 p,
.about2 p,
.about4 p,
.about6 p {
  align-items: center;
  text-align: center;
  padding-top: 3rem;
  width: 700px;
}
.about1 h2,
.about3 h2,
.about4 h2,
.about6 h2 {
  font-weight: bold;
}

.about2,
.about7,
.about5 {
  color: var(--color-main);
  font-size: 24px;
  text-align: center;
}

.about2-detail,
.about7-detail,
.about5-detail {
  padding-top: 4rem;
  height: 500px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.about2 p,
.about7 p,
.about5 p {
  align-items: center;
  text-align: center;
  padding-top: 3rem;
  width: 700px;
}
.about2 h2 .about7 h2,
.about5 h2 {
  font-weight: bold;
}

.about5-detail,
.about6-detail {
  flex-direction: column;
}
