:root {
  --color-main: #016064;
  --color-primary-variant: #153436;
  --color-secondary: #ff7b02;
  --color-secondary-variant: #e5a55d;
  --color-tertiary-variant: #7b4e19;
  --color-bg-1: #000e17;
  --color-bg-2: #001e2d;
  --color-bg-3: #012734;
  --color-bg-4: #003347;
  --color-light: #85a2b2;
  --color-white: hsl(0, 0%, 90%);
  --color-bg-5: #32393b;

  --container-width-lg: 88%;
  --container-width-md: 92%;

  --transition: all 400ms ease;
}
