:root {
  --color-main: #016064;
  --color-primary-variant: #153436;
  --color-secondary: #ff7b02;
  --color-secondary-variant: #e5a55d;
  --color-tertiary-variant: #7b4e19;
  --color-bg-1: #000e17;
  --color-bg-2: #001e2d;
  --color-bg-3: #012734;
  --color-bg-4: #003347;
  --color-light: #85a2b2;
  --color-white: hsl(0, 0%, 90%);
  --color-bg-5: #32393b;

  --container-width-lg: 88%;
  --container-width-md: 92%;

  --transition: all 400ms ease;
}

.form-container1 {
  margin-top: 30px;
  margin: auto;
}

.form-container1 h1 {
  color: var(--color-secondary-variant);
  text-align: center;
  font-weight: bold;
  margin-bottom: 2rem;
}

.form-group1 {
  text-align: center;
  color: var(--color-main);
  margin-bottom: 1rem;
}

.form-group1 input {
  width: 50rem;
  padding-left: 1rem;
  height: 3rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  color: var(--color-main);
}

.form-group1 input::placeholder {
  color: var(--color-main);
}

.form-group1 button {
  width: 10rem;
  padding: 15px;
  margin-top: 1.5rem;
  background-color: #016064;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-group1 button:hover {
  background-color: var(--color-secondary);
}

#login-error {
  text-align: center;
}

.footer {
  margin-top: 20rem;
}
