:root {
  --color-main: #016064;
  --color-primary-variant: #153436;
  --color-secondary: #ff7b02;
  --color-secondary-variant: #e5a55d;
  --color-tertiary-variant: #7b4e19;
  --color-bg-1: #000e17;
  --color-bg-2: #001e2d;
  --color-bg-3: #012734;
  --color-bg-4: #003347;
  --color-light: #85a2b2;
  --color-white: hsl(0, 0%, 90%);
  --color-bg-5: #32393b;

  --container-width-lg: 88%;
  --container-width-md: 92%;

  --transition: all 400ms ease;
}

.form-container {
  padding: 30px;
  border-radius: 8px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  width: 1000px;
  /* text-align: center; */
  margin: auto;
}

.form-group input {
  width: 100%;
  padding: 15px;
  height: 3.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  color: var(--color-main);
}

.form-group input::placeholder,
.form-group select {
  color: var(--color-main);
}

.form-group {
  text-align: center;
  color: var(--color-main);
  font-size: 20px;
  margin-bottom: 15px;
}

.form-group button {
  width: 10rem;
  padding: 15px;
  margin-top: 3rem;
  background-color: #016064;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-group button:hover {
  background-color: var(--color-secondary);
}

.footer {
  margin-top: 20rem;
}
